$color-white: white;
$primary-color: #f6e5dd;
$beige-color: #dfc1b3;
$beige-dark-color: #ae6746;
$dark-brown: #3d2419;
$btn-color: #ffceb6;
$color-shadow-clicked: 3px 3px 10px $beige-color, rgb(255, 255, 255) -3px 3px 10px, 3px -3px 10px;