@mixin notebook {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 805px) {
    @content;
  }
}

@mixin sections_mobile {
  display:block;
  width: 100%;
  height: auto;
  padding-top: 6rem;
  margin: 0 auto;
  padding-bottom: 2rem;
}

@mixin sections_tablet {
  display: flex;
  width: 90%;
  text-align: center;
  align-items: center;
  margin-bottom: 5rem;
  padding: 6rem 6rem;
}

@mixin sections_centered_description {
  h1 {
    padding-top: 3rem;
  }
  @include notebook{
    padding: 6rem 6rem;
  }
  margin-bottom: 5rem;
  width: 90%;
}

@mixin sections_notebook {
  height: 80vh;
}

@mixin my_img {
  background-size: cover;
  background-position: right;
  width: 18rem;
  height: 25rem;
  border-radius: 20px;

  align-items: center;
  margin: 0 auto;
  text-align: center;
  outline: none;
  box-shadow: 10px 5px 5px $dark-brown;
}

@mixin headers {
  color: $dark-brown;
}

@mixin text {
  margin: 3rem;
  text-align: center;
  line-height: 1.5rem;

  @include notebook {
  margin: 1rem;
  
  }
}