.menu {
    &__btn {
      display: none;
      position: absolute;
      top: -9999px;
      left: -9999px;
      opacity: 0;

        &:checked {
          & ~ .menu__nav {
            display: flex;
            flex-direction: column;
            float: right;
            align-items: center;
            width: 100%;
            background-color: red;
            @include notebook{
              display: none;
            }

          .menu__element {
            padding-bottom: 1rem;
            padding-top: 1rem;
            width: 100%;
            text-align: center;
            font-weight: 700; 
            font-size: 1.5rem;
            a{
              color: blue;

            }
           
            a:active {
              color: pink;
            }
          }
        }
      }
    }
    

    &__toggle {
      display: block;
      float: right;
      margin: 2rem;

      span {
        width: 40px;
        height: 3px;
        display: block;
        margin-bottom: 6px;
        background-color: yellow;
        transition: .3s all ease-in-out;
        align-items: end;

        &:last-child {
          margin-bottom: 0;
        }
      }

      @include notebook {
        display: none;
      }
    }
  }

  .menu__nav{
    display: none;

    @include notebook{
        display: flex;
        justify-content: flex-end;
        padding-right: 4.5rem;
        padding-bottom: 2rem;

        .menu__element{
          padding-left: 3.5rem;

          a{
            color: grey;
          }
          :hover{
            padding: 1rem;
            border: 1px solid grey

        }
    }}}