.scouttest {
    @include sections_mobile;
    @include tablet {
        @include sections_centered_description;
    }
    &__description{
        width: 100%;
        text-align: center;
        justify-content: center;
        margin-bottom: 3rem;
        @include headers;
        h2 {
            line-height: 4rem;
        }
    }

    &__text {
        @include text;
        margin: 1rem;
    }

    &__box{
        margin: 0 auto;
        @include notebook{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
        }
    }
    &__box img {
        width: 100%;
        height: auto;
        object-fit: cover;
        cursor: pointer;
        box-shadow: 8px 9px 10px $dark-brown;
        border-radius: 20px;
      }
    &__photo {

    img {
        width: 300px;
        height: auto;
        background-size: cover;
        margin: 0 auto;
        @include notebook {
            width: 500px;
        }
    }
}

}
.scouttest__box {
    display: grid;
    grid-gap: 10px;
  }
  
  .scouttest__box img {
    width: 100%;
    height: auto;
    object-fit: cover;
    cursor: pointer;
    margin: 2rem;
  }
  
  